{% extends 'base.html' %}
{% block main %}
<section style="flex-direction: column">
    <h2>GitHub</h2>
    <div id="github-readme" class="markdown-body"></div>
</section>
<section style="justify-content: space-between">
    <div style="flex: 1">
        <h2>Twitter</h2>
        <a class="twitter-timeline" data-theme="dark" data-height="500" data-width="calc(100% - 20px)" href="https://twitter.com/Redstonecrafte2?ref_src=twsrc%5Etfw">Tweets by Redstonecrafte2</a>
    </div>
    <div>
        <h2>Discord</h2>
        <iframe src="https://discord.com/widget?id=391551622297157632&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
</section>
{% endblock %}
{% block head %}
<script defer async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-dark.min.css">
<script defer type="module">
    import { Octokit } from 'https://cdn.skypack.dev/@octokit/core'
    (function () {
        const octokit = new Octokit()
        fetch('https://raw.githubusercontent.com/Redstonecrafter0/Redstonecrafter0/master/README.md')
            .then(d => d.text())
            .then(d => octokit.request('POST /markdown', {text: d}))
            .then(d => document.getElementById('github-readme').innerHTML = d.data)
    })()
</script>
<style>
    .markdown-body {
		box-sizing: border-box;
        width: 980px;
        max-width: 95%;
        border-radius: 5px;
		margin: 0 auto;
		padding: 45px;
	}
</style>
{% endblock %}
